package templates

templ Index() {
    <html>
        <head>
            <title>Pass It</title>
            <script src="https://unpkg.com/htmx.org@1.9.9"></script>
            <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>

        </head>
        <body>
            <h1>Pass It</h1>

            @FetchSecret()
        </body>
        </html>
}
