package templates

import "strings"

templ SessionCode(code string) {
	<div>
        <h2>Your verification code is:</h2>
		<img src={ strings.Join([]string{"https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=", code}, "") }/>
        <p> {code}</p>
	</div>
}
